.house-form-body {
	max-width: 300px;
}

.house-card {
	min-width: 300px;
	max-width: 500px;
	flex-direction: column;	
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.house-box {
	margin-top: 10px;
	justify-content: space-between;
}